// Enables for Tribune colors, but is required for everything.
@import 'base-variables';
// ---- ADD MORE VARIABLES HERE ---------------------------------------------
$tablet-max-width: 849px;
$mobile-max-width: 449px;

// Required for everything, too, but can be broken down into smaller explicit imports if desired. 
@import 'base-mixins';
@import 'refugee-mixins';
// ---- MAKE OR IMPORT MORE MIXINS HERE ---------------------------------------------





// Class imports. Uncomment the ones you want to use.
// @import 'ngux-visibility-toggles';
// @import 'trib-bulletbox';
// @import 'trib-buttons';
// @import 'trib-colors';
// @import 'trib-images-charts';
// @import 'trib-legends';
// @import 'trib-skeleton';
// @import 'trib-tables';
// @import 'trib-timeline-basic';
// @import 'trib-typography';
// @import 'trib-utilities';


// ---- IMPORT PROJECT STYLES FROM PARTIAL FILES HERE ---------------------------------------------
@import 'nation';

// ---- WRITE MORE PROJECT STYLES HERE ---------------------------------------------

.nations{
	display:flex;
	flex-wrap:wrap;
	justify-content: flex-start;


}

.trb_mainContent {
	.nations-title{
		@include label5();
	}

	p{ width:auto; }
}

