{#
 # Template for an HTML story published to P2P.
 #
 # If you want to publish multiple HTML stories, copy, or inherit from
 # this template.
 #
 #}
{% block content %}
<dl class='nation-key'>
  <dt>
    <span></span>
  </dt>
  <dd>Barred from entry by executive order</dd>

</dl>
<div class='nations'>
	{% for nation in nations[1:]|sort(true, attribute="TOTAL_2007") %}
    {% if nation.BANNED == 1 or nation.TOTAL_2007 > 0 %}
      {% set n = nation %}
      {% include '_nation-chart.html' %}
    {% endif %}
  {% endfor %}
</div>

{% endblock content %}

{% block library_scripts %}
{# Uncomment this if you are using libraries such as jQuery #}
<script src="//{{ ROOT_URL }}/js/vendor.min.js"></script>
{% endblock %}

{% block scripts %}
{# Uncomment this if you are using custom JavaScript #}
<script src="//{{ ROOT_URL }}/js/app.min.js"></script>
<script>
(function(document) {

  window.data = {{ nations|tojson }};
  console.log(window.data);

  var CSS = [
    "//{{ ROOT_URL }}/css/styles.css"
  ];
  CSS.forEach(function(url) {
    var link = document.createElement('link');
    link.setAttribute('rel', 'stylesheet');
    link.setAttribute('href', url);
    document.head.appendChild(link);
  });
})(document);
</script>
{% endblock scripts %}
